{% extends 'accounts/base.html' %}

<title>{% block title %}CRM{% endblock title %}</title>


{% block content %}
{% include 'accounts/status.html' %}

<br>

<div class="row">
    <div class="col-md-5">
        <h5>Customer</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Customer</a>
            <table class="table table-sm">
                <tr>
                    <th></th>
                    <th>Customer</th>
                    <th>Phone</th>
                </tr>
                {% for c in customers %}
                    <tr>
                        <td><a class="btn btn-sm btn-info" href="">View</a></td>
                        <td>{{c.name}}</td>
                        <td>{{c.phone}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h5>Last 5 Orders</h5>
        <hr>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Create Order</a>
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Date Ordered</th>
                    <th>Status</th>
                    <th>Update</th>
                    <th>Remove</th>
                </tr>
                {% for o in orders %}
                    <tr>
                        <td>{{o.product}}</td>
                        <td>{{o.date_created}}</td>
                        <td>{{o.status}}</td>
                        <td><a class="btn btn-sm btn-info" href="">Update</a></td>
                        <td><a class="btn btn-sm btn-danger" href="">Delete</a></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

    {% endblock content %}