{% extends 'accounts/base.html' %}

<title>{% block title %}Products{% endblock title %}</title>

{% block content %}

<div class="row">
    <div class="col-md">
        <h5>Customer</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm">
                <tr>
                    <th>Product</th>
                    <th>Category</th>
                    <th>Price</th>
                </tr>
                {% for p in products %}
                    <tr>
                        <td>{{p.name}}</td>
                        <td>{{p.category}}</td>
                        <td>{{p.price}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}